.btnLogin {
  background: #678;
  padding: 10px 151px;
  border: none;
  color: white;
  border-radius: 3%;
  cursor: pointer;
}
.btnFacebook {
  background: #3b5998;
  border: none;
  padding: 10px 76px;
  color: white;
  border-radius: 3%;
  cursor: pointer;
}
.btnTwitter {
  background: #1da1f2;
  border: none;
  padding: 10px 90px;
  color: white;
  border-radius: 3%;
  cursor: pointer;
}
